.todo {
    background: rgb(255,147,0);
    background: linear-gradient(36deg, rgba(255,147,0,1) 0%, rgba(255,147,0,1) 42%, rgba(255,185,91,1) 100%); 
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info {
    text-align: center;
}

.todo-list {
    padding: 20px;
    height: 200px;
}

.no-todo {
    text-align: center;
}