@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #fff6ee;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    background-color: white;
    box-shadow: rgba(253, 155, 61, 0.2) 0px 8px 24px;
}

.calendar-div {
    width: 650px;
    height: 450px;
    display: flex;
    user-select: none;
}